Repository RedHatQE/firewatch, pull requests merged in 2024-01, with the labels that each got.

#136 [Urgent Change] Update the default gcs bucket to test-platform-results per DPTPs change.
  cli/report/__init__.py
  cli/report/report.py
  docs/contribution_guide.md
Labels: verified, size/XS, branch-main

#143 Change variable name in Makefile
  Makefile
Labels: verified, size/XS, branch-main

#141 Fix bug #133
  cli/objects/failure.py
  cli/objects/failure_rule.py
  cli/objects/job.py
  cli/report/report.py
  poetry.lock
  tests/unittests/conftest.py
  tests/unittests/objects/failure_rule/test_firewatch_objects_failure_rule_matches_failure.py
  tests/unittests/objects/job/test_fail_with_test_failures_should_not_cause_failure_for_ignored_step.py
Labels: ok-to-test, verified, size/XXL, can-be-merged, branch-main, approved-calebevans

#142 Update to process rehearsal jobs and error if test failures and flag set
  cli/objects/job.py
  cli/report/__init__.py
  cli/report/report.py
  development/env.list
  docs/cli_usage_guide.md
  docs/contribution_guide.md
  tests/unittests/functions/report/test_firewatch_functions_report.py
  tests/unittests/objects/job/test_firewatch_objects_job_check_is_rehearsal.py
Labels: ok-to-test, verified, size/L, can-be-merged, branch-main, approved-calebevans
